.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.85);
  color: white;
  z-index: 9999;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.inline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 0.25em solid rgba(243, 243, 243, 0.3);
  border-top: 0.25em solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1em;
}

.message {
  font-weight: 500;
  text-align: center;
  max-width: 80%;
}


.small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}

.small.spinner {
  width: 2em;
  height: 2em;
  border-width: 0.2em;
}

.medium.spinner {
  width: 3em;
  height: 3em;
  border-width: 0.25em;
}

.large.spinner {
  width: 4em;
  height: 4em;
  border-width: 0.3em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}