.CreateProblemSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.CreateProblemSection h1 {
  color: var(--primary);
  font-family: "montserrat";
}

.errorMessage,
.successMessage {
  padding: 0.8vw 2vw;
  border-radius: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.errorMessage {
  background-color: rgb(253, 201, 201);
  border: 2px solid red;
}

.successMessage {
  background-color: rgb(219, 255, 219);
  border: 2px solid green;
}

.errorMessage p,
.successMessage p {
  font-size: 1vw;
}

.errorMessage button,
.successMessage button {
  border: none;
  background-color: transparent;
  font-size: 1.2vw;
  cursor: pointer;
}

form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

form input,
textarea,
select {
  padding: 0.5vw 0.5vw;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.2vw solid var(--primary);
  color: var(--text);
  font-size: 1vw;
}

.submitButton {
  width: fit-content;
  align-self: center;
  padding: 0.5vw 2vw;
  font-size: 1.2vw;
  background-color: transparent;
  border: 0.2vw solid var(--primary);
  border-radius: 0.8vw;
  background-color: transparent;
  color: var(--primary);
  font-weight: 700;
  cursor: pointer;
}
