.chatbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.chatMessages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  white-space: pre-line;
}

.chatMessage {
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.chatMessage.interviewer {
  background-color: #e1ecf4;
  align-self: flex-start;
}

.chatMessage.ai {
  background-color: #e1ecf4;
  align-self: flex-start;
}

.chatMessage.system {
  background-color: #e1ecf4;
  align-self: flex-start;
}

.chatMessage.user {
  background-color: #d1f5d3;
  align-self: flex-end;
}

.chatInputForm {
  display: flex;
  border-top: 1px solid #ccc;
}

.chatInput {
  flex: 1;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  resize: none;
}

.chatInput:focus {
  outline: none;
}

.buttonsContainer {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.chatSendButton,
.endSessionButton {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.8rem;
  width: 80%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: transparent;
}

.chatSendButton {
  border: 2px solid #0066ff;
  color: #0066ff;
}

.endSessionButton {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

.chatSendButton:hover {
  background-color: #0066ff;
  color: #fff;
}
.endSessionButton:hover {
  background-color: #e74c3c;
  color: #fff;
}
