.problemSection {
  display: flex;
  gap: 1vw;
  height: 89vh;
  padding: 2vw;
}

.problemDetailAndChatContainer {
  flex: 1;
}

.codeEditorAndOptionsContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.verticalLine {
  border: 0.1vw solid black;
}

.timeUpMessage {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  z-index: 1000;
}

.verifyCodeButton {
  width: fit-content;
  padding: 0.5vw 1.5vw;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}