.problemSection {
  display: flex;
  gap: 1vw;
  height: 89vh;
  padding: 2vw;
  position: relative;
}

.problemDetailAndChatContainer {
  flex: 1;
  overflow-y: auto;
}

.problemDetailAndChatContainer::-webkit-scrollbar {
  display: none;
}

.problemDetailAndChatContainer>p {
  font-family: 'Segoe UI', 'Inter', 'Roboto', system-ui, -apple-system, sans-serif;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #000000;
  margin: 0.5rem 0;
  font-weight: 400;
  letter-spacing: 0.01em;
  background-color: #d9dce0;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.codeEditorAndOptionsContainer {
  flex: 1;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.verticalLine {
  border: 0.1vw solid black;
}

.timeUpMessage {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  z-index: 1000;
}

.verifyCodeButton {
  width: fit-content;
  padding: 0.5vw 1.5vw;
  border-radius: 0.8vw;
  font-size: 0.8vw;
  background-color: var(--secondary);
  color: #fff;
  cursor: pointer;
}

.verifyCodeButton:hover {
  background-color: #0b6e4d;
}