.problemSection {
  display: grid;
  gap: 1vw;
  height: 89vh;
  padding: 2vw;
}

.problem-description-container { grid-area: problem; }
.chatbox { grid-area: chat; }
.codeEditorAndOptionsContainer { grid-area: editor; }
.timer-display { grid-area: timer; }
.verticalLine { grid-area: line; }

.problem-description-container, .chatbox, .codeEditorAndOptionsContainer {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0; 
  overflow: hidden; 
}

.problem-description-content {
  overflow-y: auto; 
  padding-right: 1em;
}


.problemSection.editor-disabled {
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "problem line timer"
    "problem line chat";
}
.problemSection.editor-disabled .codeEditorAndOptionsContainer {
  display: none;
}
.problemSection.editor-disabled .problem-description-content {
  font-size: 1.2rem;
  line-height: 1.6;
}

.problemSection.editor-enabled {
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: min-content 1fr; 
  grid-template-areas:
    "problem line timer"
    "problem line editor";
  
}

.problemSection.editor-enabled .problem-description-container {
  display: flex;
  flex-direction: column;
}

.problemSection.editor-enabled .problem-description-content {
  height: 50%; 
  flex-shrink: 0; 
}

.problemSection.editor-enabled .chatbox {
  height: 50%; 
  border-top: 0.1vw solid black; 
}

.timer-display {
  font-size: 1.2rem;
  font-family: "montserrat";
  font-weight: 700;
  color: var(--primary);
  text-align: right;
  margin-bottom: 0.5rem;
}

.verifyCodeButton {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5vw 1.5vw;
  border-radius: 0.8vw;
  font-size: 0.8vw;
  background-color: var(--secondary);
  color: #fff;
  cursor: pointer;
}

.verifyCodeButton:hover {
  background-color: #0b6e4d;
}