.interviewDashboard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.seperationLineContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.seperationLine {
  width: 30%;
}

.graphContainer {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.pieGraphsContainer {
  gap: 2vw;
  display: flex;
}

.pieGraph {
  text-align: center;
  width: 120px;
}

.homepageContainer {
  display: flex;
  background-color: #fff;
}

.homepage {
  width: 80vw;
  padding: 0 5vw;
  height: calc(100vh - 12vh);
  display: flex;
  flex-direction: column;
}

.filterContainer {
  padding: 0vw 2vw;
  width: calc(100% - 80vw);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  border-left: 2px solid #bebebe;
  gap: 1vw;
}

.horizontalLines {
  width: 100%;
}

.searchBar {
  width: 100%;
  padding: 0.5vw 1vw;
  border-radius: 0.2vw;
  font-size: 0.8vw;
  border: 1px solid var(--border);
  outline: none;
  background-color: transparent;
}

.filterOptionContainer {
  display: flex;
  flex-direction: column;
}

.filterHeading {
  margin-bottom: 0.5vw;
  font-size: 1vw;
  font-style: bold;
}

.radioButton {
  font-size: 0.9;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 0.5vw auto;
  gap: 1vw;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--primary);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.radioButton + .radioButton {
  margin-top: 0.5vw;
}

.randomizerButtonDiv {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 2.3vw;
}

.createProblemButton {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: none;
  background-color: var(--secondary);
  color: var(--background);
  cursor: pointer;
  font-weight: 500;
  transition: All 0.3s ease;
}

.createProblemButton:hover {
  background-color: transparent;
  border: 0.1vw solid var(--secondary);
  color: var(--secondary);
  letter-spacing: 2px;
}

.startInterviewButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: var(--secondary);
  color: var(--background);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.startInterviewButton:hover {
  background-color: #116146;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(circle closest-side, var(--primary) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.problemTableWrapper {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.problemTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9;
}

.problemTable thead {
  color: var(--secondary);
  font-size: 1vw;
  font-weight: 500;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.problemTable tbody {
  overflow-y: auto;
  max-height: 60vh;
}

.problemTable tbody::-webkit-scrollbar {
  display: none;
}

.problemTable th,
.problemTable td {
  padding: 1vw;
  border-bottom: 1px solid #bebebe;
  text-align: left;
  vertical-align: middle;
}

.tableProblemTitle {
  font-weight: 500;
}

.tableProblemLevel {
  font-weight: 500;
  font-size: 0.9vw;
  display: inline-block;
}

.tableRow:hover {
  background-color: #e2e2e2;
}
